<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="drupalSecurityProvider"
		class="org.cartaro.geoserver.security.drupal.DrupalSecurityProvider">
		<constructor-arg ref="geoServerSecurityManager" />
	</bean>

	<bean id="drupalUserGroupPanelInfo"
		class="org.cartaro.geoserver.web.security.drupal.DrupalUserGroupServicePanelInfo">
		<property name="id" value="security.drupalUserGroupService" />
		<property name="shortTitleKey" value="DrupalUserGroupServicePanel.short" />
		<property name="titleKey" value="DrupalUserGroupServicePanel.title" />
		<property name="descriptionKey" value="DrupalUserGroupServicePanel.description" />
	</bean>

	<bean id="drupalRolePanelInfo"
		class="org.cartaro.geoserver.web.security.drupal.DrupalRoleServicePanelInfo">
		<property name="id" value="security.drupalRoleService" />
		<property name="shortTitleKey" value="DrupalRoleServicePanel.short" />
		<property name="titleKey" value="DrupalRoleServicePanel.title" />
		<property name="descriptionKey" value="DrupalRoleServicePanel.description" />
	</bean>

	<bean id="drupalAuthPanelInfo"
		class="org.cartaro.geoserver.web.security.drupal.DrupalAuthProviderPanelInfo">
		<property name="id" value="security.drupalAuthProvider" />
		<property name="shortTitleKey" value="DrupalAuthProviderPanel.short" />
		<property name="titleKey" value="DrupalAuthProviderPanel.title" />
		<property name="descriptionKey" value="DrupalAuthProviderPanel.description" />
	</bean>
</beans>